body {
  text-align: center;
  border:1px solid black;
  padding: 30px;
}

.col {
  font-size:12pt;
}

.col p, .col li {
  font-size:14pt;
  text-align:left;
}

.row img {
  margin:1em auto;
	padding:10px;
	border:1px solid gray;
  max-width:75%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
      
body {
 background:url("background.jpg") repeat-y center top grey;
}

div.col {
  background-color: white;
  opacity: 0.9;
}
div.content {
  opacity: 1;
  text-align: left;
  padding:0 50px 25px 50px;
}
.col h1 {
  padding-top: 1em;
}
h2, h3, h1,h4 {
  width:100%;
  text-align: center;
  margin-bottom:1em;
}

img {
  border:1px solid black;
  padding:10px;
  max-width:90%;
}

.imageborder {
  width:auto;
  margin:0 auto;
  display:inline-block;
  border:10px solid white;
}

.imageborder img {
  margin:0 auto;
	padding:15px;
	border:2px solid black;
}
