
body{
  background-color: black;
}

h1,h2,h3,h4,h5,p {
  color:white;
}

.p3 img{
  float: left;
  display: block;
  color: white;
  word-wrap: break-word;
  text-align: left
}

.liveaction {
  margin:20px auto;
  text-align:center;
  font-size: 15px;
  width:100%;
}

.liveaction p {
  text-align:center;
}

.PWG {
  float: right;
  display: block;
  text-align: right;
  font-size: 15px;
}
.fail{
  color: white;
  text-align: center;
}
